@model AdminRoomListPageVM
@{
    ViewBag.Title = "ListRooms";
}


<header class="panel-heading">
    @Html.ActionLink("Oda ekle", "AddRoom", null, new { @class = "btn btn-primary" })
</header>

<div class="panel-body">
    <div class="adv-table">
        <table cellpadding="0" cellspacing="0" border="0" class="display table table-bordered" id="hidden-table-info">
            <thead>
                <tr>
                    <th>Oda ID</th>
                    <th>Oda No</th>
                    <th class="hidden-phone">Odanın Gecelik Fiyatı</th>
                    <th class="hidden-phone">Odanın Durumu</th>
                    <th class="hidden-phone">Odanın Tipi</th>
                   
                    <th class="hidden-phone">Sil</th>
                    <th class="hidden-phone">Güncelle</th>
                </tr>
            </thead>
            <tbody>

                @foreach (AdminRoomVM item in Model.Rooms)
                {
                    <tr class="gradeX">
                        <td>@item.ID</td>
                        <td>@item.RoomNo</td>
                        <td class="hidden-phone">@item.RoomPricePerNight</td>
                        <td class="center hidden-phone">@item.RoomStatus</td>
                        <td class="hidden-phone">@item.RoomTypeID</td>
                        <td class="center hidden-phone">
                            @if (item.RoomTypeName==null)
                            {
                              <td>Oda Tipi Belirtilmemiş </td>
                            }
                            else
                            {
                                <td class="center hidden-phone">@item.RoomTypeName</td>
                            }

                  <td class="center hidden-phone"> @Html.ActionLink("Sil", "DeleteRoom", new { id = item.ID }, new { @class = "btn btn-danger" })  </td>
                        <td class="center hidden-phone">@Html.ActionLink("Güncelle", "UpdateRoom", new { id = item.ID }, new { @class = "btn btn-warning" })</td>

                    </tr>
                }





            </tbody>
        </table>

    </div>
</div>
<script src="~/Areas/Admin/AdminScripts/AdminRoomDTJ.js"></script>

